version: '3.8'

services:
  postgres-db:
    image: postgres:16-alpine
    container_name: postgres-db
    environment:
      POSTGRES_DB: kisakes
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis-cache:
    image: redis:7-alpine
    container_name: redis-cache
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30

  # kisakes-app:
  #   build: .
  #   container_name: kisakes-app
  #   depends_on:
  #     postgres-db:
  #       condition: service_healthy
  #     redis-cache:
  #       condition: service_healthy
  #   ports:
  #     - "8080:8080"
  #   environment:
  #     - SPRING_PROFILES_ACTIVE=prod
  #     - DATABASE_URL=jdbc:postgresql://postgres-db:5432/kisakes
  #     - DATABASE_USERNAME=user
  #     - DATABASE_PASSWORD=password
  #     - REDIS_HOST=redis-cache
  #     - REDIS_PORT=6379
  #     - SPRING_LIQUIBASE_ENABLED=true

volumes:
  postgres_data: